.auth-pages {
    min-height: 100vh;

    &.ash-background {
        background-color: $dashboard-background;
    }

    .register {
        .auth-card {
            width: 400px;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            label {
                font-size: $nm-size;
                font-weight: bold;
            }

            .auth-link {
                color: $primary-green;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }
}
