.landing-page {

    .section {
        min-height: $section-height;

        &-contents {
            padding: 4rem 2rem;

            @include media-breakpoint-down(sm) {
                padding: 4rem 1rem;
            }

            .section-header {
                margin-bottom: 3rem;

                >h2 {
                    font-size: 2rem;
                    color: $tertiary-brown;
                    font-weight: 600;
                }
            }
        }
    }
    .banner-section {
        min-height: 100vh;

        .banner {
            background: linear-gradient(
                    120deg,
                    rgba(27, 89, 84, 0.5),
                    rgba(27, 89, 84, 0.5)
            ), url("/images/banner.jpg") no-repeat center;
            background-size: cover;

            .search-area {
                h2 {
                    font-size: 3.5em;

                    @include media-breakpoint-down(sm) {
                        font-size: 2em;
                    }
                }

                .search-text {
                    font-size: 1.5rem;

                    @include media-breakpoint-down(sm) {
                        font-size: 1.2rem;
                    }
                }

                .form-control {
                    //width: 300px;
                    height: 50px;

                    @include media-breakpoint-between(md, lg) {
                        //width: 270px;
                    }
                }

                .form-search {
                    width: 100%;
                    color: $body-color $im;
                    text-align: left $im;

                    @include media-breakpoint-between(sm, lg) {
                        width: 75%;
                    }

                    @include media-breakpoint-up(xl) {
                        width: 50%;
                    }

                    .css-yk16xz-control { // Search bar on banner
                        height: 55px;
                    }
                }

                //button {
                //    min-width: 150px;
                //    @include media-breakpoint-between(md, lg) {
                //        width: 120px;
                //    }
                //}
            }
        }
    }

    .how-it-works {
        &__img {
            width: 230px;
        }
    }

    .caregiver-signup {
        padding: 4rem 2rem;

        @include media-breakpoint-down(sm) {
            padding: 3rem 1rem;
        }

        h2 {
            font-size: 2rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.5rem;
            }
        }

        h3 {
            font-size: 1.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.2rem;
            }
        }

        h4 {
            font-size: 1.2rem;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }


    }

    .success-stories {
        .card {
            box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1), 0 6px 15px 0 rgba(0,0,0,0.1);

            &-header {
                padding: 4rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 14.5rem
            }
        }
    }
}
