.btn {
    &:hover, &:focus, &:active {
        outline: none;
        box-shadow: none !important;
    }

    &-primary {
        background-color: $primary-green;
        border-color: $primary-green;
        color: $white;

        &:hover, &:focus, &:active {
            background-color: $primary-green !important;
            border-color: $primary-green !important;
            opacity: 0.9;
        }

        &:disabled {
            border-color: $grey-border;
            background-color: $grey-border;
            color: $primary-green;
            cursor: not-allowed;

            &:hover {
                border-color: $grey-border $im;
                background-color: $grey-border $im;
                color: $primary-green;
            }
        }
    }

    &-secondary {
        background-color: $secondary-lemon;
        border-color: $secondary-lemon;
        color: $white;

        &:hover, &:focus, &:active {
            background-color: $secondary-lemon !important;
            border-color: $secondary-lemon !important;
            opacity: 0.9;
            outline: none;
            box-shadow: none !important;
        }
    }

    &-standard {
        min-width: 7.7em;
    }

    &-outline {

        &-primary {
            background-color: transparent;
            border: solid 1px $primary-green;
            color: $primary-green;

            &:hover, &:focus, &:active {
                background-color: transparent;
                border: solid 1px $primary-green;
                color: $primary-green;
                opacity: 0.9;
            }
        }

    }
}
