.font-w100 {
  font-weight: 100 $im;
}
.font-w200 {
  font-weight: 200 $im;
}
.font-w300 {
  font-weight: 300 $im;
}
.font-w400 {
  font-weight: 400 $im;
}
.font-w500 {
  font-weight: 500 $im;
}
.font-w600 {
  font-weight: 600 $im;
}
.font-w700 {
  font-weight: 700 $im;
}
.font-w800 {
  font-weight: 800 $im;
}
.font-w900 {
  font-weight: 900 $im;
}

.font {
  &-size {
      &-xxs {
          font-size: $xxs-size $im;
      }

      &-xs {
          font-size: $xs-size $im;
      }

      &-sm {
        font-size: $sm-size $im;
      }

      &-nm {
        font-size: $nm-size $im;
      }

      &-md {
        font-size: $md-size $im;
      }

      &-lg {
          font-size: $lg-size $im;
      }

      &-xl {
        font-size: $xl-size $im;
      }

      &-xxl {
          font-size: $xxl-size $im;
      }

      &-xxxl {
          font-size: $xxxl-size $im;
      }

      &-xxxxl {
          font-size: $xxxxl-size $im;
      }
  }
}
