body {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.mxw-1200 {
  max-width: 1200px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.my-50 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.py-20 {
   padding-top: 20px;
   padding-bottom: 20px;
 }

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.p-24 {
  padding: 24px;
}

.p-30 {
  padding: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-40 {
  padding: 40px;
}

.mr-15 {
  margin-right: 15px;
}

.card {
  border: none $im;
}

.card.box-shadow, .course-box-shadow {
  &:hover {
    box-shadow: 0 0 36px #d8dde5;
  }
}

.border-r {
  border-right: 1px solid #e4e7ed $im;
}

.circle {
  border-radius: 50%;
}

.br-4 {
  border-radius: 4px $im;
}

.br-0 {
  border-radius: 0 $im;
}

.badge {
  color: $white $im;
  padding: 3px 5px $im;
}

.disabled {
  cursor: not-allowed;
}

.dropdown {
  .option-button  {
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    &:focus  {
      background-color: $bg-light-hover;
    }
  }
}

.ck-content {
  height: 300px;
}

.mnw-200px {
    min-width: 200px;
}

.w-90px {
    width: 90px;
}
