.main-nav {
    a.nav-link, .navbar-brand {
        color: $tertiary-brown $im;
    }

    .nav-item {
        .nav-link {
            font-size: 1rem;
            font-weight: bold;
            transition: all 0.2s;

            @include media-breakpoint-up(lg) {
                padding: 1.3em 1em $im;
            }

            &:hover {
                color: $secondary-lemon $im;
            }
        }
    }
}


.dashboard-nav {
    background-color: $dashboard-nav;

    a.nav-link, .navbar-brand {
        color: $white $im;
    }

    .nav-item {
        .nav-link {
            font-size: $nm-size;
            transition: all 0.2s;

            @include media-breakpoint-up(lg) {
                padding: 0.6rem 1rem $im;
            }

            &:hover, &.active {
                background-color: $dashboard-nav-light;
            }
        }
    }

    .dropdown-btn {
        padding: .571429rem 1rem;
        font-size: $nm-size;
        border-radius: 50px;

        &:hover, &:focus, &:active {
            background-color: $dashboard-nav-light $im;
        }
    }
}
