$blue: #0277BD;

$primary-blue: #3f9ce8;
$bg-alt-blue: #c8e2f8;
$bg-alt-success: #ebf5df;
$bg-alt-danger: #ef5350;
$bg-alt-secondary: #e4e7ed;

$text-alt-success: #5c852c;
$text-alt-secondary: #171717;
$text-alt-primary: #125a96;

$warning-color: #ffca28;
$info-color: #26c6da;
$success-color: #9ccc65;
$corporate-color: #2facb2;
$flat-color: #70b29c;
$pulse-color: #e74c3c;
$elegance-color: #d262e3;
$body-light-color: #f6f7f9;
$body-color: #575757;

$grey-border: #dbe2e8;
$text-light: #212529;

$bg-light: #f8f9fa;
$bg-light-hover: #e2e6ea;

// Body
$body-bg: #f8fafc;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom
$primary-green: #1b5954;
$secondary-lemon: #aba104;
$tertiary-brown: #121104;
$black: #000000;
$white: #ffffff;
$dashboard-nav: #343a40;
$dashboard-nav-light: rgba(0, 0, 0, 0.25);
$dashboard-background: #f0f2f5;


$transparent: transparent;

$white: hsl(0, 0%, 100%);
$transparent-white: hsla(0, 0%, 100%, 0.85);
$transparent-grey: hsla(0, 0%, 8%, 0.4);
$black: hsl(0, 0%, 16%);
$green2: hsl(128, 40%, 45%);
$green1: hsl(128, 40%, 45%);
$green: hsl(136, 44%, 47%);
$green-1: hsl(136, 64%, 60%);
$green-2: hsl(145, 66%, 55%);
$red1: hsl(3, 64%, 36%);
$red: hsl(2, 65%, 50%);
$red-1: hsl(2, 75%, 54%);
$red-2: hsl(5, 66%, 53%);
$red-3: hsl(0, 76%, 60%);
$blue1: hsl(204, 99%, 28%);
$blue: hsl(202, 99%, 35%);
$blue-1: hsl(202, 72%, 46%);
$blue-2: hsl(200, 78%, 51%);
$orange1: hsl(25, 74%, 42%);
$orange: hsl(29, 77%, 48%);
$orange-1: hsl(30, 100%, 67%);
$pink: hsl(351, 99%, 65%);
$gold1: hsl(49, 50%, 45%);
$gold: hsl(43, 74%, 49%);
$gold-1: hsl(46, 65%, 52%);
$grey2: hsl(0, 0%, 25%);
$grey1: hsl(0, 0%, 50%);
$grey: hsl(0, 0%, 73%);
$grey-1: hsl(0, 0%, 80%);
$grey-2: hsl(0, 0%, 96%);
$grey-3: hsl(0, 0%, 97%);
$indigo1: hsl(203, 40%, 24%);
$indigo: hsl(210, 20%, 33%);
$indigo-1: hsl(218, 25%, 35%);

$navbar-color: #343a40;

